@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px; // 1100→1080（テキストフィードバックによる変更）
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////
$base-font-family: "Gotu", serif;
$second-font-family: "Noto Sans JP", serif;
// ※検証ツールでしっかり反映されているか確認する
$third-font-family: "Lato", sans-serif;

body {
    font-family: $base-font-family;
    container-type: inline-size; // ネガティブマージンによる水平スクロールバー対策
    position: relative; // フッター手前で止まるページトップへ戻るボタン用
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #111;
$font: #0d2936;
$white: #fff;
$accent: #408f95;
$green2: #ddf0f1;
$hover: #f2f2f2;
$red: #c94800;
