@use "global" as *;

.about {
    @include mq(md) {
        position: relative; // メッセージ要素の基点
    }
}

.about__image-wrap {
    position: relative; // 魚の写真の基点
    aspect-ratio: 345 / 212; // 幅375-(14+16) 高さ(194 + 18)

    @include mq(md) {
        aspect-ratio: 1080 / 661; // 幅(880+200) 高さ(581+80)
    }
}

.about__image-shisa img {
    aspect-ratio: 128 / 194;
    width: 37.1%; // 128/345
    height: auto;

    @include mq(md) {
        aspect-ratio: 400 / 606;
        width: 37.5%; // ピクパ用に調整
    }
}

.about__image-fish {
    position: absolute;
    top: 12.5%; // 26/212  (186+26)
    z-index: -1;
    width: 81.44%; // 281/345
    right: 0;

    @include mq(md) {
        top: 12.1%; // 80/661
    }
}
.about__image-fish img {
    height: 100%;
}

.about__message {
    margin-block-start: rem(40);

    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include mq(md) {
        position: absolute;
        margin-block-start: 0; // リセット
        top: 30.25%; // 200/661
        left: 19.3%; // ピクパ用に調整

        flex-direction: row;
        gap: rem(40);
    }
}

.about__title {
    color: $accent;
    font-family: $base-font-family;
    font-size: rem(40);
    font-weight: $normal;
    line-height: calc(40 / 40);
    padding-inline-start: rem(1); // ピクパ用

    @include mq(md) {
        color: $white;
        font-size: clamp(2.5rem, 1.62rem + 3.76vw, 5rem);
        line-height: calc(100 / 80);
    }
}

.about__description {
    color: $font;
    font-family: $second-font-family;
    font-size: rem(16);
    font-weight: $normal;
    line-height: calc(24 / 16);

    @include mq(md) {
        color: $white;
        max-width: rem(400);
    }
}

.about__button {
    margin-block-start: rem(50);
    padding-inline-end: rem(15); // ピクパ用
    text-align: center;

    @include mq(md) {
        margin-block-start: rem(40);
        padding-inline-end: rem(2); // ピクパ用
    }
}
