@use "global" as *;

.breadcrumb {
    margin-inline: calc(50% - 50cqi); // cqi:水平スクロールバー対策
    color: #0d2936;
    font-size: rem(14);
}

.breadcrumb__inner {
    padding-inline: rem(15);
    max-width: rem(600);
    margin-inline: auto;

    @include mq(md) {
        padding-inline: rem(30);
        max-width: none;
        width: min(100%, rem(1080 + 30*2));
    }
}

.breadcrumb .home {
    // content: "\f015";
    font-family: $second-font-family;
    font-weight: $normal;
    margin-right: rem(8);
}

.breadcrumb a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.breadcrumb a:hover {
    opacity: 0.6;
}

.breadcrumb i {
    margin-right: rem(8);
}

.breadcrumb .current-item {
    color: #0d2936;
    font-family: $second-font-family;
    font-size: rem(14);
    font-weight: $normal;
}
