@use "global" as *;

.campaign {
    // overflow: hidden; // デフォルト（水平スクロールバーを消すため）
}

.campaign__inner {
    width: 100%;
    position: relative;
}

.campaign__swiper-slide {
    display: flex;
    align-items: flex-start; // カードを上揃えにする
    justify-content: center;
    width: rem(280);
    height: auto;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
    margin-block-end: rem(10); // 底辺の影を見せるため

    @include mq(md) {
        width: rem(333);
    }
}

.campaign__swiper-container,
.campaign__swiper,
.campaign__swiper-wrapper,
.campaign__swiper-slide {
    position: relative;
}

.campaign__swiper {
    // overflow: visible; // デフォルト
}
