@use "global" as *;

.card-list {
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: normal; // subgridに影響するのでリセットする
    }
}

.card-list__card {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4; // 孫要素の数
    gap: 0;
}
// ４カード目以降は、上部余白を付ける（subgridがあるので、column-gapなどは使わなかった）
.card-list__card:nth-of-type(n + 4) {
    margin-block-start: rem(40);
}

@media (any-hover: hover) {
    .card-list__card:hover {
        background-color: $hover;
    }
    .card-list__card:hover .card__link {
        background-color: $hover;
    }
    .card-list__card:hover .card__image img {
        scale: 1.1;
    }
}
