@use "global" as *;

.card {
    color: $black;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(17) rem(24);
    background-color: $white;
    transition: background-color 0.3s;

    @include mq(md) {
        padding-inline: rem(16);
    }
}

.card__link {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4; // 孫要素の数
    gap: 0; // 孫要素の間隔
    background-color: $white;
    transition: background-color 0.3s;
}

.card__image {
    // 苦肉の策　spの時、overflow: hidden;があると画像が消えてしまうため...
    // subgridが関係していると思われる...
    @include mq(md) {
        overflow: hidden;
    }
}
.card__image img {
    aspect-ratio: 301 / 201;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.5s ease;
}

.card__date {
    margin-block-start: rem(24);
    font-size: rem(12);
    font-weight: $normal;
    line-height: calc(18 / 12);
}

.card__title {
    align-self: center; //
    font-size: rem(16);
    font-weight: 500;
    line-height: calc(24 / 16);
    font-family: $second-font-family;
    border-bottom: solid rem(1) $accent;
    padding-block-end: rem(3.4);

    @include mq(md) {
        align-self: auto; //
    }
}

.card__description {
    margin-block-start: rem(16);
    font-weight: $normal;
    font-size: rem(16);
    line-height: calc(24 / 16);
    font-family: $second-font-family;

    @include mq(md) {
    }
}
