@use "global" as *;

.contact {
    position: relative;
    // width: 100%;

    @include mq(md) {
        margin-inline: rem(10);
        padding: rem(80) rem(50);
        // padding-inline: rem(50);
        // padding-block-start: rem(80);
        // padding-block-end: rem(70);
        // box-shadow: rem(1) rem(1) rem(6) #808080;
        // box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        box-shadow: rem(4) rem(4) rem(10) 0 rgba(0, 0, 0, 0.25);
    }
}

.contact__fish {
    position: absolute;
    width: min(100%, rem(109));
    top: rem(-24);
    // right: rem(-6);
    // left: calc(50% + rem(63));
    // right: calc(50% - rem(172));
    right: calc(50% - min(46vw, rem(372)));
    // left: calc(50% + min(calc(100vw / 1440 * 200), 200px));

    @include mq(md) {
        width: min(100%, rem(310));
        top: rem(-40);
        // left: calc(50% + rem(365));
        // left: auto;
        // right: calc(50% - rem(674));
        right: calc(50% - min(49vw, rem(674)));
    }
}
.contact__fish img {
    width: 100%;
    height: 100%;
    // object-fit: contain;
}

.contact__inner {
    padding-inline: rem(10);

    @include mq(md) {
        padding-inline: 0;
    }
}

.contact__list {
    display: flex;
    flex-direction: column;
    gap: rem(39);

    @include mq(md) {
        flex-direction: row;
        gap: rem(82);
        // gap: min(2vw, rem(82));
    }
}

.contact__item {
    // box-shadow: rem(1) rem(1) rem(6) #808080;
}
.contact__item:first-of-type {
    padding-inline: rem(10);

    @include mq(md) {
        padding-inline: 0;
    }
}
.contact__item:nth-of-type(2) {

    @include mq(md) {
        border-left: 1px solid $accent;
        width: min(100%, rem(486));

        // vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contact__item-content {
    text-shadow: 0 rem(2) rem(2) #808080;
    // box-shadow: rem(1) rem(1) rem(6) #808080;

    @include mq(md) {
        text-shadow: none;
    }
}
.contact__item:nth-of-type(2) .contact__item-content {

    @include mq(md) {
        // vertical-align: middle;
        // justify-content: center;
        // margin-block-start: rem(-9); // ピクパ対応
        padding-inline-start: rem(18); // ピクパ対応
    }
}

.contact__item-logo {
    // display: grid;
    // place-content: center;
    padding-block-end: rem(6);
    border-bottom: 1px solid $accent;
    // width: min(100%, rem(500));
    text-align: center;
    // box-shadow: rem(1) rem(1) rem(6) #808080;
    // text-shadow: 0 rem(2) rem(2) #808080;

    @include mq(md) {
        padding-block-end: rem(8);
        // padding-inline-end: rem(8);
    }
}
.contact__item-logo img {
    display: inline-block;
    // •	img を inline-block にすると、親要素（.contact__item-logo）の中で テキストのベースラインに揃えようとする 挙動が発生します。
	// •	その結果、img の下に ベースラインとの差分となる余白 ができ、親要素の高さが意図せず大きくなることがあります。
    vertical-align: bottom;
    // •	画像のベースラインをボトムに合わせることで、余白をなくします。

    width: min(100%, rem(174));
    // max-width: 174px;
    // width: 100%;
    // height: 100%;
    // object-fit: contain;
    // box-shadow: rem(1) rem(1) rem(6) #808080;

    @include mq(md) {
        width: min(100%, rem(200));
    }
}

.contact__item-info {
    margin-block-start: rem(16);
    display: flex;
    flex-direction: column;
    gap: rem(16);

    @include mq(md){
        margin-block-start: rem(24);
        flex-direction: row;
        gap: rem(21);
    }
}

.contact__item-address {
    font-size: rem(16);
    font-style: normal;
    font-family: $second-font-family;
    font-weight: $normal;
    line-height: calc(24 / 16);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: rem(4);

    @include mq(md){
        text-align: left;
        min-width: rem(146);
    }
}
.contact__item-address p:first-of-type {
    // letter-spacing: rem(0.1);
    // display: inline-block;
    // margin-inline: auto;
    // padding-right: rem(10); // ピクパ対応
    padding-inline-end: rem(10); // ピクパ対応

    @include mq(md){
        // padding-right: 0;
        padding-inline-end: 0;
    }
}

.contact__item-map-wrap {
    // padding-inline: rem(10);
    // width: 100%;

//     @include mq(md){
//         margin-top: 0;
//         margin-left: prem(60);
//         max-width: prem(630);
//     }
}

.contact__item-map {
    // position: relative;
    // width: 100%;
    // height: 0;
    // padding-top: 47.5%;
    box-shadow: rem(1) rem(1) rem(6) #808080;

    @include mq(md){
        box-shadow: none;
    }
}
.contact__item-map iframe {
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;

    aspect-ratio: 295 / 153;
    // max-width: ;
    width: 100%;
    height: auto;
    // height: 100%;
    // object-fit: contain;
    // object-fit: cover;

    @include mq(md){
        aspect-ratio: 273 / 140;
        // aspect-ratio: 200 / 100;
    }
}

// .contact__item-content .title__en {
//     font-size: rem(80);
//     line-height: calc(80 / 80);
// }
// .contact__item-content .title__ja {
//     font-size: rem(12);
//     margin-top: rem(-7);
//     font-weight: $normal;
// }

.contact__item-text {
    color: $accent;
    font-family: $second-font-family;
    font-size: rem(14);
    line-height: calc(18 / 14);
    letter-spacing: 0;
    font-weight: $normal;
    margin-top: rem(8);
    text-align: center;
}

.contact__btn-wrap {
    margin-top: rem(40);
    text-align: center;
    // padding-right: rem(5); // ピクパ対応
    padding-inline-end: rem(5); // ピクパ対応

    @include mq(md){
        // padding-inline-end: 0; // ピクパ対応
    }
}

// .contact__btn-wrap .button::before {
//     box-shadow: rem(1) rem(1) rem(6) #808080;

//     @include mq(md){
//         box-shadow: none;
//     }
// }
.contact__btn::before {
    box-shadow: rem(1) rem(1) rem(6) #808080;

    @include mq(md){
        box-shadow: none;
    }
}