@use "global" as *;

.footer {
    padding-block: rem(48) rem(56);
    background-color: $accent;
    color: $white;

    @include mq(md) {
        padding-block: rem(80);
    }
}

.footer__head {
    display: flex;
    flex-direction: column;

    @include mq(md) {
        flex-direction: row;
        gap: rem(40);
    }
}

.footer__logo {
    width: min(100%, rem(120));
    transition: 0.3s;

    @include mq(md) {
        width: min(100%, rem(200));
    }
}

.footer__logo a {
    display: block;
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__sns {
    margin-block-start: rem(16);
    display: flex;
    gap: rem(16);
    align-items: center;
    transition: 0.3s;

    @include mq(md) {
        margin-block-start: rem(32);
    }
}

.footer__sns-icon {
    display: block;
    max-width: rem(24);
    width: 100%;

    @include mq(md) {
        max-width: rem(32);
    }
}

.footer__sns-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__wrap {
    padding-inline-start: rem(37 - 14);
}

.footer__body {
    margin-block-start: rem(40);

    @include mq(md) {
        margin-block-start: rem(23);
    }
}

.footer__nav {
    display: grid;
    column-gap: rem(40);
    row-gap: rem(40);
    font-family: $second-font-family;
    line-height: calc(18 / 16);
    letter-spacing: 0;

    grid-template:
        "a b"
        "c d"
        / rem(144) 1fr;

    @include mq(md) {
        display: flex;
        column-gap: rem(142);
    }
}

.footer__nav-items1 {
    grid-area: a;
}
.footer__nav-items2 {
    grid-area: c;
}
.footer__nav-items3 {
    grid-area: b;
}
.footer__nav-items4 {
    grid-area: d;
}

.footer__nav-item:nth-of-type(n + 2) {
    margin-block-start: rem(24);
}
.footer__nav-items1 .footer__nav-item:nth-of-type(5),
.footer__nav-items2 .footer__nav-item:nth-of-type(5),
.footer__nav-items3 .footer__nav-item:nth-of-type(2),
.footer__nav-items4 .footer__nav-item:nth-of-type(n + 2) {
    margin-block-start: rem(40);
}

.footer__nav-items1 .footer__nav-item:nth-of-type(1) a,
.footer__nav-items1 .footer__nav-item:nth-of-type(5) a,
.footer__nav-items2 .footer__nav-item:nth-of-type(1) a,
.footer__nav-items2 .footer__nav-item:nth-of-type(5) a,
.footer__nav-items3 .footer__nav-item:nth-of-type(1) a,
.footer__nav-items3 .footer__nav-item:nth-of-type(2) a,
.footer__nav-items4 .footer__nav-item a {
    font-weight: $bold;
}

.footer__nav-item {
    position: relative;
    transition: 0.3s;
}

.footer__nav-items1 .footer__nav-item:nth-of-type(1)::before,
.footer__nav-items1 .footer__nav-item:nth-of-type(5)::before,
.footer__nav-items2 .footer__nav-item:nth-of-type(1)::before,
.footer__nav-items2 .footer__nav-item:nth-of-type(5)::before,
.footer__nav-items3 .footer__nav-item:nth-of-type(1)::before,
.footer__nav-items3 .footer__nav-item:nth-of-type(2)::before,
.footer__nav-items4 .footer__nav-item::before {
    content: "";
    position: absolute;
    width: rem(18);
    height: rem(18);
    top: rem(0.5);
    left: rem(-22);
    background-image: url(../images/common/starfish.svg);
}

.footer__copyright {
    margin-top: rem(40);
    display: block;
    font-size: rem(12);
    line-height: calc(18 / 12);
    letter-spacing: 0;

    @include mq(md) {
        margin-top: rem(80);
        font-size: rem(14);
        line-height: calc(18 / 14);
        text-align: center;
    }
}

@media (any-hover: hover) {
    .footer__nav-item:hover {
        opacity: 0.5;
    }

    .footer__sns-icon:hover {
        opacity: 0.5;
    }

    .footer__logo:hover {
        opacity: 0.5;
    }
}
