@use "global" as *;

.header {
    height: rem(80);
    background-color: rgba(13, 41, 54, 0.68);

    @include mq("md") {
        height: rem(90);
    }
}

.header.js-show {
    background-color: $accent;
    transition: background-color 0.3s;
}

.header__inner {
    padding-left: rem(15);
    padding-right: rem(15);
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq("md") {
        padding-inline-start: rem(36);
        padding-inline-end: rem(40);
    }
}

.header__logo {
    width: min(100%, rem(105));
    height: inherit;

    @include mq("md") {
        width: min(100%, rem(136));
    }
}

.header__logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__nav {
    display: none;
    height: inherit;

    @include mq("md") {
        display: block;
    }
}

.header__nav-list {
    display: flex;
    height: inherit;
    column-gap: rem(40);
}

.header__nav-item {
    height: inherit;
}

.header__nav-item a {
    position: relative; // ホバー時のアンダーライン用
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
    font-size: rem(18);
    font-weight: $normal;
    line-height: calc(18 / 18);
    letter-spacing: 0;
    color: $white;
}

// ホバー時のアンダーライン
.header__nav-item a::after {
    content: "";
    position: absolute;
    bottom: rem(20); // y軸方向を調整
    left: rem(20); // 左端のpadding分を除く
    width: calc(100% - rem(40)); // 両端のpadding分を引いた長さにする
    height: rem(2);
    background-color: $white;

    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform 0.3s;
}

.header__nav-item span {
    margin-top: rem(4);
    display: block;
    font-size: rem(10);
    line-height: calc(15 / 10);
    letter-spacing: 0;
    font-family: $second-font-family;
}

@media (any-hover: hover) {
    .header__nav-item a:hover::after {
        transform: scale(1, 1);
    }
}
