@use "global" as *;

.information {
    display: flex;
    flex-direction: column;
    row-gap: rem(25);

    @include mq(md) {
        flex-direction: row;
        row-gap: 0; // リセット
        column-gap: rem(48);
        justify-content: center;
        padding-inline-end: rem(9); // ピクパ用
    }
}

.information__image-wrap {
    position: relative; // アニメーション用
}
.information__image-wrap div.color {
    // アニメーション用
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $accent;
}

.information__image {
}
.information__image img {
    aspect-ratio: 345 / 227;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq(md) {
        aspect-ratio: 540 / 356;
        max-width: rem(540);
        // margin-inline: auto;
    }
}

.information__info {
    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include mq(md) {
        max-width: rem(492);
        justify-content: center;
        padding-block-end: rem(4); // ピクパ用
        padding-inline-start: rem(1); // ピクパ用
    }
}

.information__container {
}

.information__title {
    color: $font;
    font-family: $second-font-family;
    font-size: rem(20);
    line-height: calc(24 / 20);
    border-bottom: solid rem(2) $accent;
    padding-block-end: rem(2);

    @include mq(md) {
        font-size: rem(24);
        line-height: calc(24 / 24);
        padding-block-end: rem(6);
    }
}

.information__description {
    margin-block-start: rem(7);
    color: $font;
    font-family: $second-font-family;
    font-size: rem(16);
    font-weight: $normal;
    line-height: calc(24 / 16);

    @include mq(md) {
    }
}

.information__button {
    // margin-block-start: rem(40);
    padding-inline-end: rem(4); // ピクパ用
    text-align: center;

    @include mq(md) {
        // margin-block-start: 0; // リセット
    }
}
