@use "global" as *;

/* 位置のreset */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: unset;
    bottom: unset;
    left: unset;
    right: unset;
    margin: 0;
    padding: 0;
}

/* =============================
ナビゲーションボタン
============================= */
/* デフォルトのボタンを初期化 */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: ""; /* デフォルトのものを初期化 */
}

/* 各ボタンのカスタマイズ */
.swiper-button-prev,
.swiper-button-next {
    @include mq(md) {
        bottom: calc(100% + rem(25));
        width: rem(80);
        height: rem(80);
    }
}
.swiper-button-prev {
    @include mq(md) {
        right: rem(340);
    }
}
.swiper-button-next {
    @include mq(md) {
        right: rem(180);
    }
}
