@use "global" as *;

.test {
    color: $black;
}

.test-button {
    margin-top: 100px;
    padding: 20px 20px;
    text-align: center;
}

.test-section {
    margin-top: 40px;
    background-color: pink;
}

// ================================
//  見栄えを作るCSS
// ================================
// section {
//     height: 50vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 40px;
//     font-weight: 700;

//     &#about {
//         background: yellow;
//     }
//     &#service {
//         background: red;
//     }
//     &#feature {
//         background: green;
//     }
//     &#company {
//         background: peru;
//     }
//     &#contact {
//         background: purple;
//     }
// }
