@use "global" as *;

.top-blog {
    @include mq(md) {
        position: relative; // 魚画像の基点
    }
}

.top-blog__fish {
    @include mq(md) {
        position: absolute;
        width: min(100%, rem(437));
        top: rem(24);
        left: calc(50% - min(49vw, rem(620)));
    }
}
.top-blog__fish img {
    width: 100%;
    height: 100%;
}

.top-blog__inner {
    margin-inline: auto;

    @include mq(md) {
        max-width: rem(1079); // 1079+(20*2)
    }
}

.top-blog__title {
    @include mq(md) {
        padding-block-start: rem(96);
        // このクラスに背景画像を付けることにした
        height: rem(500);
        background-image: image-set(url("../images/blog/background@2x.webp") type("image/webp"), url("../images/blog/background@2x.jpg") type("image/jpeg"));
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        margin-inline: calc(50% - 50cqi); // cqi:水平スクロールバー対策
    }
}

.top-blog__cards {
    margin-block-start: rem(28);

    @include mq(md) {
        margin-block-start: rem(-254);
    }
}

.top-blog__button {
    margin-block-start: rem(39);
    text-align: center;
    padding-inline-end: rem(4); // ピクパ用

    @include mq(md) {
        margin-block-start: rem(80);
    }
}
