@use "global" as *;

.top-campaign {
}

.top-campaign__container {
    margin-inline-end: calc(50% - 50cqi); // cqi:水平スクロールバー対策
    margin-block-start: rem(24);

    @include mq(md) {
        margin-block-start: rem(40);
    }
}

.top-campaign__button {
    margin-block-start: rem(30);
    text-align: center;
    padding-inline-end: rem(5);

    @include mq(md) {
        margin-block-start: rem(70);
        padding-inline-end: rem(4);
    }
}
