@use "global" as *;

.top-blog {
    @include mq(md) {
        position: relative; // 魚画像と背景画像の基点

        margin-inline: calc(50% - 50cqi); // cqi:水平スクロールバー対策
        padding-block-start: rem(96);
    }
}
.top-blog::before {
    @include mq(md) {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-image: image-set(url("../images/blog/background@2x.webp") type("image/webp"), url("../images/blog/background@2x.jpg") type("image/jpeg"));
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: rem(500);
        z-index: -1;
    }
}

.top-blog__fish {
    @include mq(md) {
        position: absolute;
        width: min(100%, rem(437));
        top: rem(24);
        left: calc(50% - min(49vw, rem(620)));
    }
}
.top-blog__fish img {
    width: 100%;
    height: 100%;
}

.top-blog__cards {
    margin-block-start: rem(28);
}

.top-blog__button {
    margin-block-start: rem(39);
    text-align: center;
    padding-inline-end: rem(4); // ピクパ用

    @include mq(md) {
        margin-block-start: rem(80);
    }
}
