@use "global" as *;

.top-information {
    background-color: $green2;
    padding-block: rem(80) rem(84);

    @include mq(md) {
        padding-block: rem(96) rem(76);
    }
}

.top-information__container {
    margin-block-start: rem(28);

    @include mq(md) {
        margin-block-start: rem(40);
    }
}
